/**
 * Utility styles
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: rgba(0, 0, 0, 0.8);
  clip: auto !important;
  color: #000;
  display: block;
  font-size: 1rem;
  height: auto;
  width: auto;
  top: 5px;
  left: 5px;
  line-height: normal;
  padding: 16px 24px 15px;
  text-decoration: none;
  z-index: 100000; /* Above WP toolbar. */
}

/**
 * WordPress Default Class
 * https://wordpress.org/documentation/article/css/
 */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/**
 * Header and footer styles
 */
/**
 * Header styles
 */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem; /* 30/16 */
  padding: 1.25rem 0; /* 20/16 */
}

.site-logo h1,
.site-logo .site-description {
  margin: 0;
}

/**
 * Footer styles
 */
.footer-copyright {
  text-align: center;
  padding: 1.875rem 0; /* 30/16 */
}

/**
 * Navigation styles
 */
.primary-navigation ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.primary-navigation ul li {
  margin-bottom: 1.25rem; /* 20/16 */
}

nav.primary-navigation {
  text-align: center;
}
nav.primary-navigation a, nav.primary-navigation span {
  padding: 0.3125rem 0.9375rem; /* 5/16 */ /* 15/16 */
}

.site-logo a,
.primary-navigation a,
.kit-theme-post .read-more a,
.kit-theme-post .post-title a {
  text-decoration: none;
}

/**
 * Posts and pages style sticky post styles.
 */
.site-page {
  max-width: 960px;
  margin: 0 auto;
}

.kit-theme-post {
  margin-bottom: 3.125rem; /* 50/16 */
}
.kit-theme-post img {
  max-width: 100%;
}
.kit-theme-post .post-title {
  margin: 0;
}
.kit-theme-post .post-categories {
  margin-bottom: 1.25rem; /* 20/16 */
}
.kit-theme-post .post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0; /* 20/16 */
  border-bottom: 1px solid #e8e8e8;
}
.kit-theme-post .read-more {
  display: inline-block;
  padding: 0.3125rem 0.9375rem; /* 5/16 */ /* 15/16 */
  border: 1px solid #605be5;
  text-transform: capitalize;
}
.kit-theme-post .post-tags a {
  display: inline-block;
  margin-right: 0.625rem; /* 10/16 */
}

/**
 * Comments styles
 */
.commentslist {
  list-style-type: none;
  padding: 0;
}
.commentslist .children {
  list-style-type: none;
}
.commentslist li {
  padding: 1.25rem; /* 20/16 */
  margin-top: 1.25rem; /* 20/16 */
  margin-bottom: 1.25rem; /* 20/16 */
  border: 1px solid #e8e8e8;
}
.commentslist img {
  margin-right: 0.625rem; /* 10/16 */
}
.commentslist .reply {
  display: inline-block;
  padding: 0.3125rem 0.9375rem; /* 5/16 */ /* 15/16 */
  border: 1px solid #605be5;
}

.comment-form-comment input,
.comment-form-comment textarea {
  border-color: #e8e8e8;
}

/**
 * Layouts styles
 */