.elementor-158 .elementor-element.elementor-element-0d22a7d{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-158 .elementor-element.elementor-element-29a3501 .hfe-nav-menu__toggle{margin:0 auto;}.elementor-158 .elementor-element.elementor-element-29a3501 .menu-item a.hfe-menu-item{padding-left:15px;padding-right:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .menu-item a.hfe-sub-menu-item{padding-left:calc( 15px + 20px );padding-right:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 40px );padding-right:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 60px );padding-right:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 80px );padding-right:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .menu-item a.hfe-menu-item, .elementor-158 .elementor-element.elementor-element-29a3501 .menu-item a.hfe-sub-menu-item{padding-top:15px;padding-bottom:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .sub-menu,
								.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown,
								.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown-expandible,
								.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown .menu-item a.hfe-menu-item,
								.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item{background-color:#fff;}.elementor-158 .elementor-element.elementor-element-29a3501 ul.sub-menu{width:220px;}.elementor-158 .elementor-element.elementor-element-29a3501 .sub-menu a.hfe-sub-menu-item,
						 .elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown li a.hfe-menu-item,
						 .elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown li a.hfe-sub-menu-item,
						 .elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown-expandible li a.hfe-menu-item,
						 .elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{padding-top:15px;padding-bottom:15px;}.elementor-158 .elementor-element.elementor-element-29a3501 .sub-menu li.menu-item:not(:last-child),
						.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown li.menu-item:not(:last-child),
						.elementor-158 .elementor-element.elementor-element-29a3501 nav.hfe-dropdown-expandible li.menu-item:not(:last-child){border-bottom-style:solid;border-bottom-color:#c4c4c4;border-bottom-width:1px;}