
@font-face {
	font-family: 'groovy-socicon';
	src:url('groovy-socicon.eot?jk3qnc');
	src:url('groovy-socicon.eot?jk3qnc#iefix') format('embedded-opentype'),
		url('groovy-socicon.woff?jk3qnc') format('woff'),
		url('groovy-socicon.ttf?jk3qnc') format('truetype'),
		url('groovy-socicon.svg?jk3qnc#icomoon1') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="groovy-socicon"],
[class*=" groovy-socicon"] {
	font-family: 'groovy-socicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.groovy-socicon-eitaa:before { content: '\e97c'; }.groovy-socicon-soroush:before { content: '\e97d'; }.groovy-socicon-bale:before { content: '\e97e'; }.groovy-socicon-zazzle:before { content: '\e97b'; }.groovy-socicon-society6:before { content: '\e97a'; }.groovy-socicon-redbubble:before { content: '\e979'; }.groovy-socicon-avvo:before { content: '\e978'; }.groovy-socicon-stitcher:before { content: '\e977'; }.groovy-socicon-google:before { content: '\e974'; }.groovy-socicon-dlive:before { content: '\e975'; }.groovy-socicon-vsco:before { content: '\e976'; }.groovy-socicon-flipboard:before { content: '\e973'; }.groovy-socicon-ubuntu:before { content: '\e958'; }.groovy-socicon-artstation:before { content: '\e959'; }.groovy-socicon-invision:before { content: '\e95a'; }.groovy-socicon-torial:before { content: '\e95b'; }.groovy-socicon-collectorz:before { content: '\e95c'; }.groovy-socicon-seenthis:before { content: '\e95d'; }.groovy-socicon-google_play_music:before { content: '\e95e'; }.groovy-socicon-debian:before { content: '\e95f'; }.groovy-socicon-filmfreeway:before { content: '\e960'; }.groovy-socicon-gnome:before { content: '\e961'; }.groovy-socicon-itchio:before { content: '\e962'; }.groovy-socicon-jamendo:before { content: '\e963'; }.groovy-socicon-mix:before { content: '\e964'; }.groovy-socicon-sharepoint:before { content: '\e965'; }.groovy-socicon-tinder:before { content: '\e966'; }.groovy-socicon-windguru:before { content: '\e967'; }.groovy-socicon-cd_baby:before { content: '\e968'; }.groovy-socicon-elementary_os:before { content: '\e969'; }.groovy-socicon-stage32:before { content: '\e96a'; }.groovy-socicon-tiktok:before { content: '\e96b'; }.groovy-socicon-gitter:before { content: '\e96c'; }.groovy-socicon-letterboxd:before { content: '\e96d'; }.groovy-socicon-threema:before { content: '\e96e'; }.groovy-socicon-splice:before { content: '\e96f'; }.groovy-socicon-metapop:before { content: '\e970'; }.groovy-socicon-naver:before { content: '\e971'; }.groovy-socicon-remote:before { content: '\e972'; }.groovy-socicon-internet:before { content: '\e957'; }.groovy-socicon-moddb:before { content: '\e94b'; }.groovy-socicon-indiedb:before { content: '\e94c'; }.groovy-socicon-traxsource:before { content: '\e94d'; }.groovy-socicon-gamefor:before { content: '\e94e'; }.groovy-socicon-pixiv:before { content: '\e94f'; }.groovy-socicon-myanimelist:before { content: '\e950'; }.groovy-socicon-blackberry:before { content: '\e951'; }.groovy-socicon-wickr:before { content: '\e952'; }.groovy-socicon-spip:before { content: '\e953'; }.groovy-socicon-napster:before { content: '\e954'; }.groovy-socicon-beatport:before { content: '\e955'; }.groovy-socicon-hackerone:before { content: '\e956'; }.groovy-socicon-hackernews:before { content: '\e946'; }.groovy-socicon-smashwords:before { content: '\e947'; }.groovy-socicon-kobo:before { content: '\e948'; }.groovy-socicon-bookbub:before { content: '\e949'; }.groovy-socicon-mailru:before { content: '\e94a'; }.groovy-socicon-gitlab:before { content: '\e945'; }.groovy-socicon-instructables:before { content: '\e944'; }.groovy-socicon-portfolio:before { content: '\e943'; }.groovy-socicon-codered:before { content: '\e940'; }.groovy-socicon-origin:before { content: '\e941'; }.groovy-socicon-nextdoor:before { content: '\e942'; }.groovy-socicon-udemy:before { content: '\e93f'; }.groovy-socicon-livemaster:before { content: '\e93e'; }.groovy-socicon-crunchbase:before { content: '\e93b'; }.groovy-socicon-homefy:before { content: '\e93c'; }.groovy-socicon-calendly:before { content: '\e93d'; }.groovy-socicon-realtor:before { content: '\e90f'; }.groovy-socicon-tidal:before { content: '\e910'; }.groovy-socicon-qobuz:before { content: '\e911'; }.groovy-socicon-natgeo:before { content: '\e912'; }.groovy-socicon-mastodon:before { content: '\e913'; }.groovy-socicon-unsplash:before { content: '\e914'; }.groovy-socicon-homeadvisor:before { content: '\e915'; }.groovy-socicon-angieslist:before { content: '\e916'; }.groovy-socicon-codepen:before { content: '\e917'; }.groovy-socicon-slack:before { content: '\e918'; }.groovy-socicon-openaigym:before { content: '\e919'; }.groovy-socicon-logmein:before { content: '\e91a'; }.groovy-socicon-fiverr:before { content: '\e91b'; }.groovy-socicon-gotomeeting:before { content: '\e91c'; }.groovy-socicon-aliexpress:before { content: '\e91d'; }.groovy-socicon-guru:before { content: '\e91e'; }.groovy-socicon-appstore:before { content: '\e91f'; }.groovy-socicon-homes:before { content: '\e920'; }.groovy-socicon-zoom:before { content: '\e921'; }.groovy-socicon-alibaba:before { content: '\e922'; }.groovy-socicon-craigslist:before { content: '\e923'; }.groovy-socicon-wix:before { content: '\e924'; }.groovy-socicon-redfin:before { content: '\e925'; }.groovy-socicon-googlecalendar:before { content: '\e926'; }.groovy-socicon-shopify:before { content: '\e927'; }.groovy-socicon-freelancer:before { content: '\e928'; }.groovy-socicon-seedrs:before { content: '\e929'; }.groovy-socicon-bing:before { content: '\e92a'; }.groovy-socicon-doodle:before { content: '\e92b'; }.groovy-socicon-bonanza:before { content: '\e92c'; }.groovy-socicon-squarespace:before { content: '\e92d'; }.groovy-socicon-toptal:before { content: '\e92e'; }.groovy-socicon-gust:before { content: '\e92f'; }.groovy-socicon-ask:before { content: '\e930'; }.groovy-socicon-trulia:before { content: '\e931'; }.groovy-socicon-calendy-loomly:before { content: '\e932'; }.groovy-socicon-ghost:before { content: '\e933'; }.groovy-socicon-upwork:before { content: '\e934'; }.groovy-socicon-fundable:before { content: '\e935'; }.groovy-socicon-booking:before { content: '\e936'; }.groovy-socicon-googlemaps:before { content: '\e937'; }.groovy-socicon-zillow:before { content: '\e938'; }.groovy-socicon-niconico:before { content: '\e939'; }.groovy-socicon-toneden:before { content: '\e93a'; }.groovy-socicon-augment:before { content: '\e908'; }.groovy-socicon-bitbucket:before { content: '\e909'; }.groovy-socicon-fyuse:before { content: '\e90a'; }.groovy-socicon-youtube-gaming:before { content: '\e90b'; }.groovy-socicon-sketchfab:before { content: '\e90c'; }.groovy-socicon-mobcrush:before { content: '\e90d'; }.groovy-socicon-microsoft:before { content: '\e90e'; }.groovy-socicon-pandora:before { content: '\e907'; }.groovy-socicon-facebook-messenger:before { content: '\e906'; }.groovy-socicon-gamewisp:before { content: '\e905'; }.groovy-socicon-bloglovin:before { content: '\e904'; }.groovy-socicon-tunein:before { content: '\e903'; }.groovy-socicon-gamejolt:before { content: '\e901'; }.groovy-socicon-trello:before { content: '\e902'; }.groovy-socicon-spreadshirt:before { content: '\e900'; }.groovy-socicon-500px:before { content: '\e000'; }.groovy-socicon-8tracks:before { content: '\e001'; }.groovy-socicon-airbnb:before { content: '\e002'; }.groovy-socicon-alliance:before { content: '\e003'; }.groovy-socicon-amazon:before { content: '\e004'; }.groovy-socicon-amplement:before { content: '\e005'; }.groovy-socicon-android:before { content: '\e006'; }.groovy-socicon-angellist:before { content: '\e007'; }.groovy-socicon-apple:before { content: '\e008'; }.groovy-socicon-appnet:before { content: '\e009'; }.groovy-socicon-baidu:before { content: '\e00a'; }.groovy-socicon-bandcamp:before { content: '\e00b'; }.groovy-socicon-battlenet:before { content: '\e00c'; }.groovy-socicon-beam-mixer:before { content: '\e00d'; }.groovy-socicon-bebee:before { content: '\e00e'; }.groovy-socicon-bebo:before { content: '\e00f'; }.groovy-socicon-behance:before { content: '\e010'; }.groovy-socicon-blizzard:before { content: '\e011'; }.groovy-socicon-blogger:before { content: '\e012'; }.groovy-socicon-buffer:before { content: '\e013'; }.groovy-socicon-chrome:before { content: '\e014'; }.groovy-socicon-coderwall:before { content: '\e015'; }.groovy-socicon-curse:before { content: '\e016'; }.groovy-socicon-dailymotion:before { content: '\e017'; }.groovy-socicon-deezer:before { content: '\e018'; }.groovy-socicon-delicious:before { content: '\e019'; }.groovy-socicon-deviantart:before { content: '\e01a'; }.groovy-socicon-diablo:before { content: '\e01b'; }.groovy-socicon-digg:before { content: '\e01c'; }.groovy-socicon-discord:before { content: '\e01d'; }.groovy-socicon-disqus:before { content: '\e01e'; }.groovy-socicon-douban:before { content: '\e01f'; }.groovy-socicon-draugiem:before { content: '\e020'; }.groovy-socicon-dribbble:before { content: '\e021'; }.groovy-socicon-drupal:before { content: '\e022'; }.groovy-socicon-ebay:before { content: '\e023'; }.groovy-socicon-ello:before { content: '\e024'; }.groovy-socicon-endomodo:before { content: '\e025'; }.groovy-socicon-envato:before { content: '\e026'; }.groovy-socicon-etsy:before { content: '\e027'; }.groovy-socicon-facebook:before { content: '\e028'; }.groovy-socicon-feedburner:before { content: '\e029'; }.groovy-socicon-filmweb:before { content: '\e02a'; }.groovy-socicon-firefox:before { content: '\e02b'; }.groovy-socicon-flattr:before { content: '\e02c'; }.groovy-socicon-flickr:before { content: '\e02d'; }.groovy-socicon-formulr:before { content: '\e02e'; }.groovy-socicon-forrst:before { content: '\e02f'; }.groovy-socicon-foursquare:before { content: '\e030'; }.groovy-socicon-friendfeed:before { content: '\e031'; }.groovy-socicon-github:before { content: '\e032'; }.groovy-socicon-goodreads:before { content: '\e033'; }.groovy-socicon-google325:before { content: '\e034'; }.groovy-socicon-google-scholar:before { content: '\e035'; }.groovy-socicon-googlegroups:before { content: '\e036'; }.groovy-socicon-googlephotos:before { content: '\e037'; }.groovy-socicon-googleplus:before { content: '\e038'; }.groovy-socicon-grooveshark:before { content: '\e039'; }.groovy-socicon-hackerrank:before { content: '\e03a'; }.groovy-socicon-hearthstone:before { content: '\e03b'; }.groovy-socicon-hellocoton:before { content: '\e03c'; }.groovy-socicon-heroes:before { content: '\e03d'; }.groovy-socicon-hitbox-smashcast:before { content: '\e03e'; }.groovy-socicon-horde:before { content: '\e03f'; }.groovy-socicon-houzz:before { content: '\e040'; }.groovy-socicon-icq:before { content: '\e041'; }.groovy-socicon-identica:before { content: '\e042'; }.groovy-socicon-imdb:before { content: '\e043'; }.groovy-socicon-instagram:before { content: '\e044'; }.groovy-socicon-issuu:before { content: '\e045'; }.groovy-socicon-istock:before { content: '\e046'; }.groovy-socicon-itunes:before { content: '\e047'; }.groovy-socicon-keybase:before { content: '\e048'; }.groovy-socicon-lanyrd:before { content: '\e049'; }.groovy-socicon-lastfm:before { content: '\e04a'; }.groovy-socicon-line:before { content: '\e04b'; }.groovy-socicon-linkedin:before { content: '\e04c'; }.groovy-socicon-livejournal:before { content: '\e04d'; }.groovy-socicon-lyft:before { content: '\e04e'; }.groovy-socicon-macos:before { content: '\e04f'; }.groovy-socicon-mail:before { content: '\e050'; }.groovy-socicon-medium:before { content: '\e051'; }.groovy-socicon-meetup:before { content: '\e052'; }.groovy-socicon-mixcloud:before { content: '\e053'; }.groovy-socicon-modelmayhem:before { content: '\e054'; }.groovy-socicon-mumble:before { content: '\e055'; }.groovy-socicon-myspace:before { content: '\e056'; }.groovy-socicon-newsvine:before { content: '\e057'; }.groovy-socicon-nintendo:before { content: '\e058'; }.groovy-socicon-npm:before { content: '\e059'; }.groovy-socicon-odnoklassniki:before { content: '\e05a'; }.groovy-socicon-openid:before { content: '\e05b'; }.groovy-socicon-opera:before { content: '\e05c'; }.groovy-socicon-outlook:before { content: '\e05d'; }.groovy-socicon-overwatch:before { content: '\e05e'; }.groovy-socicon-patreon:before { content: '\e05f'; }.groovy-socicon-paypal:before { content: '\e060'; }.groovy-socicon-periscope:before { content: '\e061'; }.groovy-socicon-persona:before { content: '\e062'; }.groovy-socicon-pinterest:before { content: '\e063'; }.groovy-socicon-play:before { content: '\e064'; }.groovy-socicon-player:before { content: '\e065'; }.groovy-socicon-playstation:before { content: '\e066'; }.groovy-socicon-pocket:before { content: '\e067'; }.groovy-socicon-qq:before { content: '\e068'; }.groovy-socicon-quora:before { content: '\e069'; }.groovy-socicon-raidcall:before { content: '\e06a'; }.groovy-socicon-ravelry:before { content: '\e06b'; }.groovy-socicon-reddit:before { content: '\e06c'; }.groovy-socicon-renren:before { content: '\e06d'; }.groovy-socicon-researchgate:before { content: '\e06e'; }.groovy-socicon-residentadvisor:before { content: '\e06f'; }.groovy-socicon-reverbnation:before { content: '\e070'; }.groovy-socicon-rss:before { content: '\e071'; }.groovy-socicon-sharethis:before { content: '\e072'; }.groovy-socicon-skype:before { content: '\e073'; }.groovy-socicon-slideshare:before { content: '\e074'; }.groovy-socicon-smugmug:before { content: '\e075'; }.groovy-socicon-snapchat:before { content: '\e076'; }.groovy-socicon-songkick:before { content: '\e077'; }.groovy-socicon-soundcloud:before { content: '\e078'; }.groovy-socicon-spotify:before { content: '\e079'; }.groovy-socicon-stackexchange:before { content: '\e07a'; }.groovy-socicon-stackoverflow:before { content: '\e07b'; }.groovy-socicon-starcraft:before { content: '\e07c'; }.groovy-socicon-stayfriends:before { content: '\e07d'; }.groovy-socicon-steam:before { content: '\e07e'; }.groovy-socicon-storehouse:before { content: '\e07f'; }.groovy-socicon-strava:before { content: '\e080'; }.groovy-socicon-streamjar:before { content: '\e081'; }.groovy-socicon-stumbleupon:before { content: '\e082'; }.groovy-socicon-swarm:before { content: '\e083'; }.groovy-socicon-teamspeak:before { content: '\e084'; }.groovy-socicon-teamviewer:before { content: '\e085'; }.groovy-socicon-technorati:before { content: '\e086'; }.groovy-socicon-telegram:before { content: '\e087'; }.groovy-socicon-tripadvisor:before { content: '\e088'; }.groovy-socicon-tripit:before { content: '\e089'; }.groovy-socicon-triplej:before { content: '\e08a'; }.groovy-socicon-tumblr:before { content: '\e08b'; }.groovy-socicon-twitch:before { content: '\e08c'; }.groovy-socicon-twitter:before { content: '\e08d'; }.groovy-socicon-uber:before { content: '\e08e'; }.groovy-socicon-ventrilo:before { content: '\e08f'; }.groovy-socicon-viadeo:before { content: '\e090'; }.groovy-socicon-viber:before { content: '\e091'; }.groovy-socicon-viewbug:before { content: '\e092'; }.groovy-socicon-vimeo:before { content: '\e093'; }.groovy-socicon-vine:before { content: '\e094'; }.groovy-socicon-vkontakte:before { content: '\e095'; }.groovy-socicon-warcraft:before { content: '\e096'; }.groovy-socicon-wechat:before { content: '\e097'; }.groovy-socicon-weibo:before { content: '\e098'; }.groovy-socicon-whatsapp:before { content: '\e099'; }.groovy-socicon-wikipedia:before { content: '\e09a'; }.groovy-socicon-windows:before { content: '\e09b'; }.groovy-socicon-wordpress:before { content: '\e09c'; }.groovy-socicon-wykop:before { content: '\e09d'; }.groovy-socicon-xbox:before { content: '\e09e'; }.groovy-socicon-xing:before { content: '\e09f'; }.groovy-socicon-yahoo:before { content: '\e0a0'; }.groovy-socicon-yammer:before { content: '\e0a1'; }.groovy-socicon-yandex:before { content: '\e0a2'; }.groovy-socicon-yelp:before { content: '\e0a3'; }.groovy-socicon-younow:before { content: '\e0a4'; }.groovy-socicon-youtube:before { content: '\e0a5'; }.groovy-socicon-zapier:before { content: '\e0a6'; }.groovy-socicon-zerply:before { content: '\e0a7'; }.groovy-socicon-zomato:before { content: '\e0a8'; }.groovy-socicon-zynga:before { content: '\e0a9'; }